.error {
    color: red;
    background:  rgb(74, 74, 74);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.successful {
    color: rgb(108, 243, 108);
    background: rgb(74, 74, 74);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.formInput{
    background-color: #fb8c8c44;
    padding: 2vw;
    margin-left: 20%;
    padding-left: 5vw;
    border-radius: 4px;
    width: 50%;
    color: rgb(225, 181, 231);
}
.input{
    background-color: #fadddd;
    margin: 0.8vw;
    margin-left: 0;
    border: 0px;
    border-radius: 2px;
    display: block;
    align-items: center;
    width: 90%;
}
.app{
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: "Segoe IU", sans-serif;
}
h2{
    color: #00d0ff;
    text-align: center;
}
h3{
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    width: 30%;
    color: #64daf4;
    text-align:center;
}
.botonSubmit{
    background-color: #7aa0eb;
    padding: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    border: 0px;
    border-radius: 5px;
}
.botonSubmit:hover{
    background-color: #a6e5f6;
    cursor: pointer;
}
.botonDelate{
    background-color: #e15a5a;
    border: 0px;
    padding: 0.5vw;
    margin-left: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5px;
}
.botonDelate:hover{
    background-color: #f71414;
    cursor: pointer;
}
.persons{
    color: rgb(225, 181, 231);
    margin-left: 24%;
}
.person{
    padding-bottom: 1vw;
}